{% extends "base.html" %}

{% block title %}
Sign up
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <form action="{% url 'survey:signup' %}" method="post" role="form">{% csrf_token %}
            <div class="well">
                {{ form.non_field_errors }}
                <div class="form-group">
                    <p class="text-right">
                        Já se cadastrou? <a href="{% url 'survey:signin'%}">Entre agora</a>
                    </p>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-lg-offset-1">
                        {{ form.captcha.errors }}
                        {{ form.captcha }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.ticket.errors }}
                    {{ form.ticket }}
                </div>
                <div class="form-group">
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.passphrase.errors }}
                    {{ form.passphrase }}
                </div>
                <div class="form-group">
                    {{ form.agreed.errors }}
                    {{ form.agreed }} Li e aceito o termo de participação do survey.
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Participar" />
                </div>
            </div>
        </form>
    </div>
</div>
<br><br>
<p class="text-center">
Se o ticket não chegar em seu e-mail, em no máximo 5 minutos, envie um e-mail para Phillipe Cavalcante com o assunto "Storyline Ticket":<br>
e-mail:<code> &lt;sobrenome&gt;&lt;ponto&gt;&lt;nome&gt;&lt;at&gt;gmail&lt;ponto&gt;com</code>
</p>
{% endblock %}