{% extends "base.html" %}

{% block css %}
    <link href="{{ STATIC_URL }}survey/css/survey.css" rel="stylesheet">
{% endblock %}

{% block body %}



<div class="row">
    <div class="col-md-7 col-lg-7">
        <blockquote>
        <p class="text-justify">
        <strong>Hipótese:</strong> A storyline busca, recupera e ordena as notícias relacionadas à notícia inicial de modo que a 2&ordf; notícia explica/contextualiza a 1&ordf;, a 3&ordf; explica/contextualiza a 2&ordf;, assim por diante, e a última explica/contextualiza a penúltima.
        </p>
</blockquote>
    </div>
    <div class="col-md-5 col-lg-5">
        <div class="well">
        A storyline a seguir valida a hipótese?
        Se sim, basta clicar no botão "Enviar Storyline".
        Se não, altere a ordem da storyline atual ou
        adicione novas notícias da seção Extra até que a hipótese seja atendida.
        Ao final, clique em "Enviar Storyline".
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 col-lg-7">
        <div id="results">
            {% include "survey/article_story.html" with doc=initial.article %}
        </div>
    </div>
    <div class="col-md-5 col-lg-5" style="padding-top:25px">
        <p class="lead">
            Notícias Relacionadas
            (<small> {{ line }} / {{ meth }} </small>)
        </p>
        
        <ul id="storyline" class="list-unstyled sortable">
        {% for doc in results %}
            <li id="{{ doc.article.id }}" {% if forloop.counter0 == 0 %}class="first ui-state-disabled"{% endif %}>
                {% if forloop.counter0 > 0 %}<span class="glyphicon glyphicon-move pull-right"></span>{% endif %}
                {% include "survey/snippet_lineup_story.html" with doc=doc.article %}
            </li>
        {% empty %}
        {% endfor %}
        </ul>
        
        <form action="#" method="post" role="form">{% csrf_token %}
            <input type="hidden" name="storyid" value="{% if results.0.story.id %}{{ results.0.story.id }}{% else %}{{ results.0.userstory.story.id }}{% endif %}">
            <input type="hidden" name="userstory" value="">
            <input type="submit" onclick="getUserStory();" class="btn btn-block btn-success" value="Enviar Storyline">
        </form>
        <br>
        <p class="lead">
            Extra
        </p>
        <ul id="extra" class="list-unstyled sortable">
            {% for s in suggestions %}
                <li id="{{ s.id }}">
                    <span class="glyphicon glyphicon-move pull-right"></span>
                    {% include "survey/snippet_lineup_story.html" with doc=s%}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    
</div>

{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}search/js/search.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}survey/js/survey.js"></script>
{% endblock %}