{% extends "base.html" %}

{% block css %}
    <link href="{{ STATIC_URL }}survey/css/survey.css" rel="stylesheet">
{% endblock %}

{% block body %}



<div class="row">
    <div class="col-md-7 col-lg-7">
        <blockquote>
        <p class="text-justify">
        <strong>Hipótese:</strong> A storyline busca, recupera e ordena as notícias relacionadas à notícia inicial de modo que a 2&ordf; notícia contextualiza a 1&ordf;, a 3&ordf; contextualiza a 2&ordf; e a última notícia contextualiza a penúltima.
        </p>
</blockquote>
    </div>
    <div class="col-md-5 col-lg-5">
        <div class="well">
        <strong>A storyline a seguir valida a hipótese?</strong><br>
            <p class="text-justify">
                Altere a ordem da storyline atual e/ou adicione notícias da
                seção Extra, <u>se a storyline não valida a hipótese</u>.<br>
                Clique em "Enviar" para enviar a storyline atual ou a modificada.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-lg-7">
        <div id="results">
            {% include "survey/article_story.html" with doc=initial.article %}
        </div>
    </div>
    <div class="col-md-5 col-lg-5" style="padding-top:25px">
        <p class="lead">
            Storyline
            {% if evaluated %}
            <span class="label label-warning"> AVALIADA </span><br>
            <small><small>A lista abaixo é a sua storyline.<br>
            Para rever a avaliação, clique em "Enviar Storyline".</small></small>
            {% else %}
            <small><small>Leia, altere (se for preciso) e envie a storyline.</small></small>
            {% endif %}
        </p>
        
        <ul id="storyline" class="list-unstyled sortable">
        {% for doc in results %}
            <li id="{{ doc.article.id }}" {% if forloop.counter0 == 0 %}class="first ui-state-disabled"{% endif %}>
                {% if forloop.counter0 > 0 %}<span class="glyphicon glyphicon-move pull-right"></span>{% endif %}
                {% include "survey/snippet_lineup_story.html" with doc=doc.article %}
            </li>
        {% empty %}
        {% endfor %}
        </ul>
        
        <form action="#" method="post" role="form">{% csrf_token %}
            <input type="hidden" name="storyid" value="{% if results.0.story.id %}{{ results.0.story.id }}{% else %}{{ results.0.userstory.story.id }}{% endif %}">
            <input type="hidden" name="userstory" value="">
            <input type="submit" onclick="getUserStory();" class="btn btn-block btn-success" value="Enviar Storyline">
        </form>
        <br>
        <p class="lead">
            Extra<br>
            <small><small>Notícias relacionadas que não foram selecionadas para a storyline.</small></small>
        </p>
        <ul id="extra" class="list-unstyled sortable">
            {% for s in suggestions %}
                <li id="{{ s.id }}">
                    <span class="glyphicon glyphicon-move pull-right"></span>
                    {% include "survey/snippet_lineup_story.html" with doc=s%}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    
</div>

{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}search/js/search.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}survey/js/survey.js"></script>
{% endblock %}