{% extends "base.html" %}


{% block body %}



<div class="row">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <h2>
            Termo de Participação
        </h2>
        <small>Atualizado em 16 de Junho de 2014.</small>
        
        <section>
            <h3>Sistema</h3>
            <p class="text-justify">
                Storyline é um sistema de recomendação de notícias experimental.
            </p>
        </section>
        
        <section>
            <h3>Usuários</h3>
            <p class="text-justify">
                A aplicação storyline terá dois tipos de usuários: o usuário que
                utilizará o serviço experimental
            </p>
            <h4>Conduta</h4>
            <p class="text-justify">
                O usuário participante é responsável pelas informações fornecidas
                e por sua própria conduta durante o processo de avaliação das storylines.
            </p>
            <p class="text-justify">
                O usuário participante deve honrar os seguintes itens durante a
                avaliação das storylines:
                <ol>
                    <li>
                        O usuário participante compromete-se a avaliar ao menos
                        uma storyline da lista de storylines fornecida.
                    </li>
                    <li>
                        O usuário participante compromete-se a ler a storyline
                        escolhida, antes de inciar a avaliação.
                    </li>
                </ol>
            </p>
            <p class="text-justify">
                O usuário participante que não honrar os termos de participação
                terá suas avaliações excluídas do survey, por invalidarem o experimento.
            </p>
        </section>
        
        <section>
            <h3>Formulários</h3>
            <p class="text-justify">
                Todos os formulários disponíveis na aplicação contêm captchas,
                com exceção daqueles disponíveis para usuários cadastrados.
            </p>
            <h4>Ticket</h4>
            <p class="text-justify">
                O ticket de participação é o primeiro passo do usuário para a
                realização do cadastro de participação no survey.
                O ticket de participação é enviado exclusivamente para o e-mail
                que for fornecido na página de solicitação de envio de ticket.
                Este ticket será solicitado quando o usuário estiver fazendo o
                cadastro de participação.
            </p>
            <h4>Cadastro</h4>
            <p class="text-justify">
                O formulário de cadastro registra o usuário como participante do
                survey. Para efetuar o cadastro o usuário precisará informar:
                <ol>
                    <li>o e-mail que foi usado para receber o ticket;</li>
                    <li>uma senha de acesso;</li>
                    <li>o ticket;</li>
                    <li>que leu e concorda com os termos de participação.</li>
                </ol>
o ticket que recebeu e concordar
            </p>
        </section>
        
        
        <section>
            <h4>Informações do Participante</h4>
            <p class="text-justify">
                Apenas o e-mail, escolaridade, faixa etária.
                Você não será identificado no survey.
            </p>
        </section>
        <section>
            <h4>Sobre estes termos</h4>
            <p>
                Este termo pode ser modificado.
                Você deve ver os termos regularmente.
                Se
            </p>
        </section>
        <a href="{% url 'survey:ticket' %}" class="btn btn-primary btn-lg pull-right" role="button">Participar</a>
    </div>
</div>

{% endblock %}