{% extends "base.html" %}


{% block body %}



<div class="row">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <h2>
            Termo de Participação
        </h2>
        <small>Atualizado em 16 de Junho de 2014.</small>
        
        <section>
            <p class="text-justify">
                O usuário participante da avaliação das storylines honrará
                os seguintes termos:
                <ol>
                    <li>
                        Avaliar ao menos uma storyline da lista de storylines
                        fornecida para avaliação.
                    </li>
                    <li>
                        Ler cada notícia da storyline antes iniciar a avaliação.
                    </li>
                    <li>
                        Alterar a ordem da storyline ou adicionar notícias a
                        storyline
                    </li>
                </ol>

            </p>
        </section>
        
        <section>
            <h4>Informações do Participante</h4>
            <p class="text-justify">
                Apenas o e-mail, escolaridade, faixa etária.
                Você não será identificado no survey.
            </p>
        </section>
        <section>
            <h4>Sobre a aplicação Storyline</h4>
            <p class="text-justify">
                Esta é uma aplicação experimental que tem como objetivo avaliar
                o sistema de recomendação de notícias, aqui chamado Storyline.
                Quaiquer problemas técnicos...
            </p>
        </section>
        <a href="{% url 'survey:ticket' %}" class="btn btn-primary btn-lg pull-right" role="button">Participar</a>
    </div>
</div>

{% endblock %}