<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!--CSS-->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}storyline/css/storyline.css" rel="stylesheet">
        <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->
        <!--/-->
        
        <title>{% block title %}Storyline{% endblock %}</title>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                {% include "brand.html" %}
            </div>
        </nav>
        
        <div class="container">
            {% for message in messages %}
                <div {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% empty %}
            {% endfor %}
        </div>
        
        {% block header %}{% endblock %}
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        <div class="container">
            <ul class="list-inline">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'survey:ticket' %}">Participe do Survey</a></li>
                {% endif%}
            </ul>
        </div>
        <!--JS-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}storyline/js/ajax.js"></script>
        {% block js %}{% endblock %}
        <!--/JS-->
    </body>
</html>